/* DEFAULT STYLES*/

* {
    box-sizing: border-box;
}

body,
html {
    min-height: 100vh;
    margin: 0;
    /*filter: hue-rotate(117deg) brightness(.8) contrast(2);*/
}

img {
    max-width: 100%;
}

/**/

body {
    font-family: "Coming Soon", cursive;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    align-items: center;
    padding: 25px;
    text-align: center;
    margin: 25px;
}

h1 {
    font-size: 48px;
    margin: 0 25px 0 0;
}

.background {
    position: fixed;
    top: -30px;
    left: 0;
    max-width: 100%;
    height: auto;
    z-index: -1;
}

.background img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.foreground {
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 34%, rgba(0, 0, 0, 1) 35%, rgb(72, 94, 57) 36%, rgb(111, 146, 88) 60%);
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    height: 100vh;
}

#tree-image {
    user-select: none;
    transition: 250ms;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.button {
    border: 3px solid #929292;
    background-color: #fffaad;
    padding: 15px 32px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    user-select: none;
    transition: 200ms;
}